@charset "utf-8";
/* CSS reset */
html{color:#000;background:#FFF;font-family:'宋体'; font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0;margin:0;font-family:"宋体",Arial;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#5d5d5d; outline:none;}
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clear {clear:both;height:0px;overflow:hidden;} 


body{background:url(../images/bg.gif) 0 0 repeat-x; height:800px;}
.bodyCont{width:950px; margin:0 auto;}
.header{}
.header_content{padding-top:10px;}
.header_content h1{float:left;} 
.header_content h2{float:left; font-size:30px; font-family:"微软雅黑"; color:#000; margin:20px 0 0 15px; display:inline;}
.header_content .head_nav{float:right; overflow:hidden; zoom:1;}
.header_content .head_nav li{float:left; color:#565656; line-height:14px; margin-left:10px;}
.header_content .head_nav li.h_naLi a{margin:0 10px;}
.header_content .head_nav li a:hover{text-decoration:underline;}

.nav{height:37px; background:url(../images/navbg.gif) 0 0 repeat-x; margin-top:5px;}
.nav_left{height:37px; background:url(../images/nav_left.png) 0 0 no-repeat;}
.nav_right{height:37px; background:url(../images/nav_right.png) right 0 no-repeat;}
.nav ul{overflow:hidden; zoom:1; float:left; margin-left:1px;}
.nav ul li{float:left; background:url(../images/nav_line.gif) right 0 no-repeat; padding-right:2px;}
.nav ul li a{float:left; height:37px; line-height:37px; padding:0 15px; font-size:14px; font-weight:bold; color:#fff;}
.nav ul li a.active_nav{background:url(../images/nav_acbg.gif) 0 0 repeat-x;}
.nav ul li a:hover {background:url(../images/nav_acbg.gif) 0 0 repeat-x;}
.nav_rightCont{float:right;}
.nav_rightCont span{float:left; margin-top:-5px; width:97px; height:35px; background:url(../images/nav_bg.png) 0 0 no-repeat;}
.nav_rightCont span a{display:block; margin:2px 0 0 4px; width:88px; height:33px; text-align:center; line-height:33px; color:#000; font-size:14px; font-weight:bold;}
.nav_rightCont .leave_meg{float:left; margin:0 20px; display:inline; line-height:37px; font-size:14px; font-weight:bold; color:#fff;}

.banner{overflow:hidden; margin-top:5px;}
.banner img{display:block;}

.mainCont{ margin-top:10px;}

.mainLeft{float:left; width:250px;}
.mainRight{float:right; width:690px;}
.geneNav{background:url(../images/mNavbg.gif) 0 -39px repeat-x; height:39px;}
.geneNav_left{background:url(../images/mNavbg.gif) 0 0 no-repeat; height:39px;}
.geneNav_right{background:url(../images/mNavbg.gif) right -78px no-repeat; height:39px;}
.geneNav_cont {height:29px; margin:1px 0 0 1px;}
.geneNav_cont h3{float:left; font-weight:bold; color:#3a3a3a; line-height:29px; margin-left:15px; display:inline;}
.geneNav_cont a{float:right; font-weight:bold; text-decoration:underline; line-height:29px; margin-right:10px; color:#c20202;}
.geneCont{border-left:1px solid #dcdcdc; padding-bottom:10px; border-right:1px solid #dcdcdc;}
.geneBottom{height:5px; overflow:hidden; background:url(../images/fbg.gif) 0 -5px repeat-x;}
.geneBottom_left{height:5px; overflow:hidden;  background:url(../images/fbg.gif) 0 0 no-repeat;}
.geneBottom_right{height:5px; overflow:hidden; background:url(../images/fbg.gif) right -10px no-repeat;}

.card{}
.card ul{padding:0 15px;}
.card ul li{line-height:22px; color:#555;}
.card img{display:block; margin:10px auto 0;}

.productNav {margin-top:10px;}
.productNav ul{}
.productNav ul li{overflow:hidden; zoom:1;}
.productNav ul li a{display:block; padding:0 8px; overflow:hidden; zoom:1; height:24px; line-height:24px;}
.productNav ul li a span{float:left; }
.productNav ul li a em{float:right; }
.productNav ul li a:hover{background-color:#e9e9e9;}

.proDes{}
.proDes p{line-height:24px; color:#7c7c7c; padding:10px; font-size:14px; overflow:hidden; zoom:1;}
.proDes p img{float:left; margin:10px 10px 10px 0;}

.newPro{margin-top:10px;}
.newProbot{margin-top:0px;}
.newPro dl{width:140px; overflow:hidden; float:left;  margin: 5px 8px 5px 20px; display:inline;}
.newPro dl dt{}
.newPro dl dt a{display:block; width:138px; height:138px; border:1px solid #d8d8d8;}
.newPro dl dt img{display:block; width:138px; height:138px;}
.newPro dl dd{color:#454545; line-height:20px; text-align:center;}
.newPro dl dd a{color:#d90000; text-decoration:underline; font-weight:bold;}

.footer{border-top:2px solid #d02121; margin:20px 0;}
.footer  div{text-align:center; line-height:20px; margin-top:10px;}
.footer  div a{display:inline-block; color:#5d5d5d;}
.footer  div span{display:inline-block;color:#5d5d5d; margin-left:5px;}
.footer  p{color:#7b7b7b; text-align:center; line-height:20px; margin-top:5px;}






